// Cover, Video, and Video Slideshow module
.cover-module {
  height: 100%;
  overflow: hidden;
  position: relative;

  .cover-slide {
    opacity: 0; // Animated after imagesLoaded
  }

  .container {
    position: relative; // Enable abosulte positioned cover-module__text
  }

  .cover-slide__text {
    display: none;
    opacity: 0; // Animated after imagesLoaded
    padding-top: 2em;
  }
}

// Cover scroll buttons
.scroll-btn {
  border-bottom: none;
  height: 42px;
  position: absolute;
  text-align: center;
  width: 42px;
  z-index: 1000;

  &:hover {
    border-bottom: none;
    opacity: 1 !important; // Overrides js animated opacity
  }

  &.scroll-btn--up {
    top: 0;
    left: 50%;
    margin-left: -21px;
  }

  &.scroll-btn--right {
    right: 20px;
    top: 50%;
    margin-top: -21px;
  }

  &.scroll-btn--down {
    bottom: -42px; // Icon height animated on imagesLoaded
    left: 50%;
    margin-left: -21px;
  }

  &.scroll-btn--left {
    left: 20px;
    top: 50%;
    margin-top: -21px;
  }
}
